<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>

<nav>
  <ul>
    <li><a routerLink="/" routerLinkAcive="active">Home</a></li>
    <li><a routerLink="/personnes" routerLinkAcive="active">Liste des personnes</a></li>
  </ul>
</nav>

<div class="ecran">
  <router-outlet></router-outlet>
</div>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Trace
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState ? 'Fermer' : 'Ouvrir' }} le contenu de la trace
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3>Contenu de la trace</h3>
    <app-messages></app-messages>
  </mat-expansion-panel>
</mat-accordion>
