<p>{{ personne.nom }} {{ personne.prenom}} :</p>

<p>Total des dépenses : {{ personne.montantDepense() | currency: "EUR" }}</p>

<p>Total des dépenses par nature</p>
<ul>
  <li *ngFor="let depense of personne.montantNature() | keyvalue">
    {{ depense.key }} : {{ depense.value | currency: "EUR" }}
  </li>
</ul>

<p>Liste des dépenses par nature</p>
<ul>
  <li *ngFor="let nature of personne.listeNature() | keyvalue">
    {{ nature.key }}
    <ul>
      <li *ngFor="let depense of nature.value">
        {{ depense.getLibelle() }} à {{ depense.getMontant() }}
      </li>
    </ul>
  </li>
</ul>
