<form (submit)="addName(firstName, lastName)">
  <label>Votre prénom</label>
  <input type="text" #firstName>

  <label>Votre nom de famille</label>
  <input type="text" #lastName>
  <input type="submit">
</form>

<ul>
  <app-full-name [fullNames]="sortedScores()"></app-full-name>
</ul>
