<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>TP Observable</title>
    
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
<h1>TP PWEB-2 : Découverte des Observables</h1>

<p>Hello</p>
<p>Ouvrir la console pour visualiser les messages produits par l'exécution du fichier index.ts</p>

<hr>

<h2>Réponses aux questions</h2>

<div id="answers"></div>

<h3>La chanson</h3>
<ul id="chanson"></ul>
<br>
<hr>
<br>

</body>

</html>
