<script
  src="../../../../../../../../../Projets/itscapist/itscapist-angular/src/app/auth/login/login.component.ts"></script>
<div fxLayoutAlign="center center">
  <mat-card fxFlex="50">
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="stretch" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Nature</mat-label>
          <select matNativeControl formControlName="nature">
            <option *ngFor="let nature of natures" [value]="nature">{{ nature }}</option>
          </select>
          <div *ngIf="nature.invalid && (nature.dirty || nature.touched)" class="mat-error">
            <div *ngIf="nature?.errors.required">La nature est obligatoire</div>
          </div>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Libellé</mat-label>
          <input matInput formControlName="libelle">
          <div *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)" class="mat-error">
            <div *ngIf="libelle?.errors.required">Le libellé est obligatoire</div>
          </div>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <div *ngIf="date.invalid && (date.dirty || date.touched)" class="mat-error">
            <div *ngIf="date?.errors.required">La date est obligatoire</div>
          </div>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Montant</mat-label>
          <input matInput formControlName="montant">
          <div *ngIf="montant.invalid && (montant.dirty || montant.touched)" class="mat-error">
            <div *ngIf="montant?.errors.required">Le montant est obligatoire</div>
            <div *ngIf="montant?.errors.min">Le montant doit être positif</div>
          </div>
        </mat-form-field>
  
        <button type="submit" [disabled]="form.invalid" mat-stroked-button mat-raised-button color="accent">Valider</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
