body {
  background-color: black;
}

#calculatrice {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  width: 250px; /* 250/310*/
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

#affichage {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#scientifique {
  display: flex;
  width: 60px;
  flex-wrap: wrap;
}

#classique {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
}

.ligne {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
}

.element {
  width: 60px;
  height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: black;
  color: white;
}

.element:nth-child(1) {
  flex: 2;
}
