<mat-list>
  <mat-list-item *ngFor="let personne of personnes">
    <a [routerLink]="['/details', personne.id]">
      {{ personne.nom}} {{ personne.prenom }} {{ personne.montantDepense() | currency: "EUR" }}
    </a>
  </mat-list-item>
</mat-list>
