<div fxLayoutAlign="center center" class="form-email">
  <mat-card fxFlex="80">
    <mat-toolbar color="accent">
      Etats d'un champ de contrôle dans un formulaire
    </mat-toolbar>
    <mat-card-content fxLayout="column" fxLayoutAlign="center" class="illus1-card-content">
      <form [formGroup]="emailForm" fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field class="form-group">
          <label for="inputEmail">Adresse Mail</label>
          <input matInput type="text"
                 id="inputEmail"
                 placeholder="Adresse Mail"
                 formControlName="email">
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="10px" class="form-line" fxLayoutAlign="center center">
          <div fxFlex="30">champ email valide ?</div>
          <div fxFlex="30"><p [class]="email.valid ? 'ok' : 'erreur'">email.valid</p></div>
          <div fxFlex="30"><p [class]="email.invalid ? 'ok' : 'erreur'">email.invalid</p></div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" class="form-line" fxLayoutAlign="center center">
          <div fxFlex="30">champ email visité ?</div>
          <div fxFlex="30"><p [class]="email.touched ? 'ok' : 'erreur'">email.touched</p></div>
          <div fxFlex="30"><p [class]="email.untouched ? 'ok' : 'erreur'">email.untouched</p></div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" class="form-line" fxLayoutAlign="center center">
          <div fxFlex="30">champ email changé ?</div>
          <div fxFlex="30"><p [class]="email.dirty ? 'ok' : 'erreur'">email.dirty</p></div>
          <div fxFlex="30"><p [class]="email.pristine ? 'ok' : 'erreur'">email.pristine</p></div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
