.form-line {
  margin-top: 10px;
}

.form-email {
  margin: 20px 20px 20px 10%;
  padding: 30px 20px 20px 10px;
  text-align: left;
}

.ok {
  border: green solid 2px;
}

.erreur{
  border: red solid 2px;
}
