<div fxLayoutAlign="center center" class="illus1">
  <mat-card fxFlex="50">
    <mat-toolbar color="accent">
      Illustration un
    </mat-toolbar>
    <mat-card-content fxLayout="column" fxLayoutAlign="center" class="illus1-card-content">
      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="nom" formControlName="nom">
          <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="mat-error">
            <div *ngIf="nom?.errors.required">Le nom est obligatoire</div>
            <div *ngIf="nom?.errors.minlength">Le nom doit comporter au moins 6 caractères</div>
          </div>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="prenom" formControlName="prenom">
          <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="mat-error">
            <div *ngIf="prenom?.errors.required">Le prenom est obligatoire</div>
          </div>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="tel" formControlName="tel">
          <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="mat-error">
            <div *ngIf="tel?.errors.required">Le numéro de téléphone est obligatoire</div>
            <div *ngIf="tel?.errors.pattern">Le numéro de téléphone doit avoir le format 00.00.00.00.00</div>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-form-field>
            <mat-label>Spécialité</mat-label>
            <select matNativeControl formControlName="specialite">
              <option *ngFor="let specialite of specialites" [value]="specialite">
                {{specialite}}
              </option>
            </select>
          </mat-form-field>
        </mat-form-field>
        
        <button  type="submit" [disabled]="editForm.invalid" mat-stroked-button mat-raised-button color="accent">Valide</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
